.p-icon {
    padding: 3.5rem 2rem !important;
}
.fa-5xl {
    font-size: 4em;
    line-height: 0.03125em;
    vertical-align: -0.1875em;
}
.service img {
    height: 220px;
    text-align: center;
    padding: 2rem;
}
.fixed-margin {
    margin-top: 7rem;
}
@media only screen and (max-width: 767px) {
    body{
        font-size: 11px;
    }
    .offcanvas{
        width: 65% !important;
    }
    h5{
        font-size: 12px;
    }
    .fixed-margin {
        margin-top: 9rem !important;
    }

    .p-icon {
        padding: 3rem 2rem !important;
    }

    .fa-5xl {
        font-size: 3em;
        line-height: 0.03125em;
        vertical-align: -0.1875em;
    }
    .service img {
        height: 185px !important;
        text-align: center;
    }
    .fixed-margin1 {
        margin-top: 3.5rem;
    }
    .shadow{
        box-shadow: 0 .1rem .2rem rgb(25 3 53) !important;
    }
    .carousel-indicators {
        top: 75%;
    }
}
a {
    text-decoration: none;
}

.circle-body{
    border:2px #190335;
    padding: .5rem 1rem;
    background: #fff;
    border-radius: 50%;
}

.balance-body{
    border:2px;
    padding: 3.5rem;
    color: #fff;
    background: #190335;
    border-radius: 50%;
}
.balance-color{
    color:#190335; 
    font-weight: bold;
}

/* login css start*/
.form-box{
    width: 300px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #F0F8FF;
    padding: 5px;
}


.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #2388db;
    outline: none;
    background: transparent;
}
.submit-btn{
    
    width:50%;
    padding: 6px ;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff015f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    
}
.span{
    color: #777;
    font-size: 15px;
    bottom: 68px;
    
}

/* login css Ended*/

/* marchent home page css start*/
.back-color{
    background: linear-gradient( #b9006c,#b9006c);
    
}
.btn-color{
    background: linear-gradient( #b9006c,#b9006c);
}
/* marchent home page css ended*/